<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A-TRACK</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/home.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/css/bootstrap-grid.css">
  <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#712cf9">
  <style media="screen">
    .hex {}
  </style>
</head>

<body>

  <nav class="nav">
    <i class="uil uil-bars navOpenBtn"></i>
    <a href="#" id="correct" class="logo">A-TRACK</a>

    <ul class="nav-links">
      <i class="uil uil-times navCloseBtn"></i>
      <li><a id="correct1" href="#">Home</a></li>
      <!-- <li><a href="see">See Percentage</a></li> -->
      <li><a href="#" id="correct1">About Us</a></li>
      <li><a id="correct1" href="#">Contact Us</a></li>
      <li><a id="correct1" href="/logout">Logout</a></li>
    </ul>

    <i class="uil uil-search search-icon" id="searchIcon"></i>
    <div class="search-box">
      <i class="uil uil-search search-icon"></i>
      <input type="text" placeholder="Search here..." />
    </div>
  </nav>
  

  <br><br><br><br><br><br><br><br><br>

  <h1 class="per">Hi <%=data.fname%>,</h1>
  <h1 id="head" class="per">Your current attendance percent is <%=percent%>%</h1>
  <center><% if (percent<data.minper) { %>
    <p style="color:red;">You should collect next <%=3*(data.total)-4*(data.current)%> attendence points to maintain your attendence.</p>
    <% } %>
    <% if (percent==data.minper) { %>
    <p style="color:red;">You made it, Bravo</p>
    <% } %>
    <% if (percent>data.minper) { %>
    <p style="color:red;">Go get some rest you scorer.</p>
    <% } %>
  </center>
  <br><br><br><br><br><br>
  <h1 class="per"><%=date.toDateString()%></h1>
  <% if (data.date != date1) { %>

  <!-- <form class="inline" action="/home" method="POST">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 hex">
          <label for="">checking</label>
        </div>
        <div class="col-lg-4 col-sm-6 hex">
          <label for="">checking</label>
        </div>
        <div class="col-lg-4 col-sm-6 hex">
          <label for="">checking</label>
        </div>
        <div class="col-lg-4 col-sm-6 hex">
          <label for="">checking</label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 hex">
          <input type="text" name="" value="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 hex">
          <input type="text" name="" value="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 hex">
          <input type="text" name="" value="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 hex">
          <input type="text" name="" value="">
        </div>
      </div>
    </div>
  </form> -->
  <!-- <center> -->
  <div class="best">


  <div class="yup">


  <form action="/home" method="POST">
    <div class="size2">


    <div class="row" >
      <div class="col-sm-6 hh">
        <label for="field1">Enter no of Lectures Attended</label>
        <select id="" name="lecture1">
          <option value="0">0</option>p;
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
      <div class="col-sm-6 hh">
        <label for="field2">Enter total no of Lectures</label>
        <select id="" name="lecture2">
          <option value="0">0</option>p;
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 hh">
        <label for="field3">Enter no of Labs Attended</label>
        <select id="" name="lab1">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="col-sm-6 hh">
        <label for="field4">Enter total no of Labs</label>
        <select id="" name="lab2">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 hh">
        <label for="field5">Enter no of CRT's Attended</label>
        <select id="field5" name="crt1">
          <option value="">0</option>
          <option value="option1">1</option>
          <option value="option2">2</option>
          <option value="option3">3</option>
        </select>
      </div>
      <div class="col-sm-6 hh">
        <label for="field6">Enter total no of CRT's</label>
        <select id="field5" name="crt2">
          <option value="">0</option>
          <option value="option1">1</option>
          <option value="option2">2</option>
          <option value="option3">3</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 hh">
        <label for="field5">Enter no of TPO's Attended</label>
        <select id="field5" name="tpo1">
          <option value="">0</option>
          <option value="option1">1</option>
          <option value="option2">2</option>
          <option value="option3">3</option>
        </select>
      </div>
      <div class="col-sm-6 hh">
        <label for="field6">Enter total no of TPO</label>
        <select id="field6" name="tpo2">
          <option value="">0</option>
          <option value="option1">1</option>
          <option value="option2">2</option>
          <option value="option3">3</option>
        </select>
      </div>
    </div>
    </div>
    </div>
    <center><input type="submit" name="" class="btn"value="Submit" style="margin-top:20px;"></center>

</form>
</div>
<!-- </center> -->
<!-- </center> style="position:relative;top:150px;right:35%;"-->










  <% } %>
  <%  if (data.date == date1){ %>
  <center>
    <h1>You have already updated your attendence today. <br> Come back tommorow to update again.</h1>
  </center>
  <% } %>
  <script type="text/javascript">
    const div = document.getElementById('div1');
    if (data.date == date1) {
      div.style.display = 'none';
    }
  </script>
</body>

</html>
